{% extends "base.html" %}
{% block title %}Event Templates - Admin{% endblock %}

{% block content %}
<div class="card">
    <h2>Event Templates</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
            <tr>
                <td>{{ template.name }}</td>
                <td>{{ template.description|truncatechars:50 }}</td>
                <td>
                    <a href="#" class="btn">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="actions">
        <a href="{% url 'create_template' %}" class="btn">Create New Template</a>
    </div>
</div>
{% endblock %}